@media (min-width: 512px) and (max-width: 1023px) {
  .main__body__wrapper {
    .service-menu__content {
      flex-direction: column;
      .service-menu-content__image {
        width: 100%;
        order: 1;
      }
    }
  }
}

@media (max-width: 1024px) {
  .swiper-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .terms__body .general__container > p {
    width: 60%;
  }
}

@media (max-width: 768px) {
  body {
    display: block;
  }
  .service-support__content {
    display: none;
  }

  .mobile__menu__container {
    transform: translateX(-100%);
    visibility: hidden;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in-out;
    z-index: 100;
    position: fixed;
    top: 5px;
    left: 5px;
  }

  header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    .logo__with__menu__icon,
    .header__icons {
      display: block;
    }

    .logo__with__menu__icon {
      display: flex;
      align-items: center;
      gap: 15px;
    }

    .header__icons {
      display: flex;
      gap: 15px;
      .header-icons__profile {
        display: flex;
        gap: 15px;
      }
    }

    .close__icon {
      display: flex;
    }
  }

  .main__body__wrapper {
    width: auto;
  }

  .service-support__menu {
    .service-menu__content {
      .service-menu-content__text {
        p.service-content__text--desktop {
          display: none;
        }

        p.service-content__text--tablet {
          display: block;
        }

        p.service-content__text--mobile {
          display: none;
        }
      }
    }
  }

  .brand__card > img {
    height: 20px;
  }

  .brand__card {
    padding: 12px 20px;
  }
}

@media (max-width: 512px) {
  header {
    .header__icons {
      .header-icons__profile {
        display: none;
      }
    }
  }

  .service-support__menu {
    .service-menu__content {
      flex-direction: column;
    }
  }

  .service-support__menu {
    .service-menu__content {
      .service-menu-content__text {
        p.service-content__text--desktop {
          display: none;
        }

        p.service-content__text--tablet {
          display: none;
        }

        p.service-content__text--mobile {
          display: block;
        }
      }
    }
  }

  .swiper-wrapper {
    display: flex;
    gap: 0;
  }

  .show__hide__button {
    display: none;
  }

  .price__body--desktop {
    display: none;
  }

  .price__body--mobile {
    display: block;
    .price__contents .general__card {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;

      div {
        width: 100%;
      }

      .card__content--three p {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .terms__body .general__container > p,
  .terms__body .terms__proposal p {
    width: auto;
  }

  .terms__body .terms__proposal p {
    width: 80%;
  }

  footer .general__container {
    flex-direction: column;
    align-items: center;

    .policy {
      margin: 20px 0;
    }

    p {
      text-align: center;
      margin: 0;
    }
  }
}
