$bgColor: #f8f8f8;
$primary: #ff3e79;
$gray: #666666;
$textColor: #222222;
$secondary: #41f6d7;

@font-face {
  font-family: 'TTLakes';
  src: url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body {
  padding: 1rem;
  margin: 0;
  font-family: 'TTLakes', sans-serif;
  background-color: $bgColor;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #fff;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.logo__with__menu__icon {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__icons {
  display: flex;
  padding: 0 15px;
}

.header-icons__profile {
  display: none;
  padding-right: 15px;
}

.header-icons__others {
  display: flex;
  align-items: center;
  gap: 15px;
  border-left: 1px solid #dadada;
  padding-left: 15px;
}

.repair__icon {
  margin-right: 10px;
}

.mobile__menu__container {
  max-width: 320px;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.4);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
  position: fixed;
  background-color: white;
  top: 5px;
  left: 5px;
}

.mobile__menu__top {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.logo__icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.close__icon,
.search__icon,
.phone__icon,
.message__icon,
.profile__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: $primary;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  opacity: 0.9;
  transition: all 0.2s ease-in-out;
}

.close__icon:hover,
.search__icon:hover,
.phone__icon:hover,
.message__icon:hover,
.profile__icon:hover {
  background-color: darken($primary, 10%);
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.mobile__menu__container {
  transform: translateX(-100%);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.mobile__menu__container.open {
  transform: translateX(0);
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.mobile__logo svg {
  width: 60px;
  height: auto;
}

.mobile__menu ul {
  padding: 0;
  li {
    list-style: none;
    padding: 5px 20px;
    margin: 10px 0;
    a {
      text-decoration: none;
      color: $textColor;
      font-size: 16px;
      transition: all 0.2s ease-in-out;
      text-shadow: none;
      :hover {
        font-weight: bold;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
        transition: all 0.2s ease-in-out;
      }
    }
    &.active {
      border-left: 4px solid $secondary;
      a {
        color: #666;
      }
    }
  }
}

.mobile__menu__footer {
  padding: 20px;
}

.mobile__menu__footer__contact {
  display: flex;
  gap: 20px;
}

.mobile__menu__footer__email {
  margin: 10px 0;
  a {
    text-decoration: none;
    color: $textColor;
    font-size: 16px;
  }
}

.mobile__menu__footer__phone a {
  text-decoration: none;
  color: $textColor;
  font-weight: 900;
  font-size: 18px;
}

.mobile__menu__footer__lang {
  margin-top: 40px;
  a {
    text-decoration: none;
    color: $textColor;
    font-size: 16px;
    &:active {
      color: #666;
    }
  }
}

.service__body {
  background-color: $bgColor;
  padding: 40px 0;
}

.service__support {
  position: relative;
  padding-left: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.service__support .service-support__title h1 {
  font-size: 28px;
  font-weight: 800;
}

.service__support:before {
  content: '';
  display: block;
  width: 4px;
  height: 100%;
  background-color: $secondary;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}

.service-support__content {
  display: none;
}

.service-support__content p {
  display: flex;
  align-items: center;
  span {
    margin-right: 10px;
  }
}

.service-support__menu {
  padding: 0 15px;
  ul {
    text-wrap: nowrap;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 0;
    li {
      list-style: none;
      padding: 0 10px;
      font-size: 14px;
      display: inline-block;
      margin-bottom: 10px;
      width: 240px;
      &.active {
        border: 2px solid $secondary;
        border-radius: 5px;
      }
      a {
        display: inline-block;
        text-decoration: none;
        color: #7e7e82;
        line-height: 40px;
        width: 100%;
      }
    }
  }

  .service-support__menu__content {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    gap: 40px;
  }
}

.service-content__text--tablet,
.service-content__text--desktop {
  display: none;
}

.service-support__menu .service-menu__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.service-support__menu .service-menu__content .service-menu-content__text,
.service-support__menu .service-menu__content .service-menu-content__image {
  flex: 1;
}

.service-support__menu .service-menu__content .service-menu-content__text p {
  font-size: 14px;
  margin-bottom: 40px;
  line-height: 1.5;
  padding-right: 15px;
}

.service-support__menu
  .service-menu__content
  .service-menu-content__text
  .read__more {
  display: flex;
  font-size: 18px;
}

.service-support__menu .service-menu__content .service-menu-content__image {
  border-radius: 5px;
  overflow: hidden;
}

.title {
  font-size: 16px;
  text-transform: uppercase;
  padding: 20px;
}

.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}

.slider__wrapper {
  width: 100%;
  height: 100%;
  background-color: $bgColor;
  margin-top: 10px;
  padding: 20px;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  gap: 10px;
  span.arrow__icon img {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
  img {
    width: auto;
    height: 30px;
    object-fit: contain;
  }
}

.show__hide__button {
  margin-top: 20px;
}

.show__more {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  border-radius: 5px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
  span {
    text-wrap: nowrap;
    color: #333;
  }
  &:focus {
    outline: none;
  }
}

.repair__body .card {
  flex-direction: column;
  gap: 80px;
  align-items: flex-end;
  p {
    align-self: flex-start;
  }
}

.price__body--desktop {
  background-color: $bgColor;
  width: 100%;
  table {
    width: 100%;
    border-radius: 15px;
    background-color: #fff;
    border-collapse: separate;
    overflow: hidden;
    thead {
      tr {
        background-color: $bgColor;
      }

      th {
        text-align: start;
        padding: 17px 24px;
      }
    }

    tbody {
      width: 90%;
    }

    tr {
      height: 90px;
      background-color: #fff;
      &:last-child td {
        border-bottom: none;
      }
      td {
        padding: 17px 24px;
        font-size: 14px;
        color: #222;
        border-bottom: 2px solid #eaeaea;
        p {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

.order__button {
  background-color: $primary;
  color: #fff;
  padding: 8px 16px;
  border-radius: 20px;
  img {
    width: 10px;
    height: 10px;
  }
}

.term .container > p {
  padding: 20px;
  width: 40%;
  font-size: 14px;
}

.term .proposal {
  p {
    padding: 0 20px;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    width: 20%;
    align-items: center;
  }

  img {
    filter: brightness(0) saturate(100%) invert(41%) sepia(96%) saturate(3193%)
      hue-rotate(319deg) brightness(101%) contrast(102%);
    width: 10px;
  }
}

.price__body--mobile {
  display: none;
}

footer {
  margin-top: 100px;
  font-size: 14px;
  color: #7e7e82;
  padding: 20px 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
