$primary: #ff3e79;
$secondary: #41f6d7;
$bgColor: #f8f8f8;
$gray: #666666;
$textColor: #222222;
$TTLakes: 'TTLakes', sans-serif;
@import 'header.scss';
@import 'footer.scss';

@font-face {
  font-family: 'TTLakes';
  src: url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'TTLakes-Medium';
  src: url('../fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: medium;
}

@font-face {
  font-family: 'TTLakes-Bold';
  src: url('../fonts/TTLakes-Bold.ttf') format('truetype');
  font-weight: bold;
}

body {
  margin: 0;
  font-family: $TTLakes;
  background-color: $bgColor;
  display: flex;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.general__container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.main__body__wrapper {
  width: calc(100% - 320px);
}

.service__body {
  background-color: $bgColor;
  padding: 40px 0;
}

.service__support {
  position: relative;
  padding-left: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.service__support .service-support__title h1 {
  font-size: 28px;
  margin: 0;
}

.service__support {
  margin-bottom: 40px;
  &::before {
    content: '';
    display: block;
    width: 4px;
    height: 100%;
    background-color: $secondary;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
  }
}

.service-support__content {
  display: none;
}

.service-support__content p {
  display: flex;
  align-items: center;
  margin: 0;
  span {
    margin-right: 10px;
  }
}

.service-support__menu {
  padding: 0 15px;
  ul {
    text-wrap: nowrap;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 0;
    li {
      list-style: none;
      padding: 0 10px;
      font-size: 14px;
      display: inline-block;
      margin-bottom: 10px;
      width: 240px;
      &.active {
        border: 2px solid $secondary;
        border-radius: 5px;
      }
      a {
        display: inline-block;
        text-decoration: none;
        color: #7e7e82;
        line-height: 40px;
        width: 100%;
      }
    }
  }

  .service-support__menu__content {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    gap: 40px;
  }
}

.service-content__text--tablet,
.service-content__text--desktop {
  display: none;
}

.service-support__menu .service-menu__content {
  display: flex;
  justify-content: space-between;
}

.service-support__menu {
  .service-menu__content {
    .service-menu-content__text,
    .service-menu-content__image {
      flex: 1;
    }

    .service-menu-content__text {
      p {
        font-size: 14px;
        margin-bottom: 40px;
        line-height: 1.5;
        padding-right: 15px;
      }
    }
  }
}

.service-support__menu
  .service-menu__content
  .service-menu-content__text
  .read__more {
  display: flex;
  font-size: 18px;
}

.service-support__menu .service-menu__content .service-menu-content__image {
  border-radius: 5px;
  overflow: hidden;
}

.service-support__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 25px;
  gap: 30px;
}

.service-support__menu {
  .service-menu__content {
    .service-menu-content__text {
      p.service-content__text--tablet {
        display: none;
      }

      p.service-content__text--desktop {
        display: block;
        margin-bottom: 10px;
      }
    }
  }
}

.section__title {
  font-size: 16px;
  text-transform: uppercase;
  padding: 20px;
  color: #7e7e82;
}

.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}

.swiper-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.slider__wrapper {
  width: auto;
  height: 100%;
  background-color: $bgColor;
  margin-top: 10px;
  padding: 20px;
}

.general__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  gap: 10px;
  span.arrow__icon img {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
  img {
    width: auto;
    height: 30px;
    object-fit: contain;
  }
}

.show__hide__button {
  margin-top: 20px;
}

.show__more {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  border-radius: 5px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
  span {
    text-wrap: nowrap;
    color: #333;
  }
  &:focus {
    outline: none;
  }
}

.repair__body {
  .general__card {
    flex-direction: column;
    gap: 80px;
    align-items: flex-end;
    p {
      align-self: flex-start;
    }
  }
}

.price__body--desktop {
  background-color: $bgColor;
  table {
    width: 100%;
    border-radius: 15px;
    border-spacing: 0;
    thead {
      tr {
        background-color: $bgColor;
      }

      th {
        text-align: start;
        padding: 17px 24px;
      }
    }

    tbody {
      width: 90%;
    }

    tr {
      height: 90px;
      background-color: #fff;
      &:last-child td {
        border-bottom: none;
      }
      td {
        padding: 17px 24px;
        font-size: 14px;
        color: #222;
        border-bottom: 2px solid #eaeaea;
        p {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}

.order__button {
  background-color: $primary;
  color: #fff;
  padding: 8px 16px 8px 25px;
  text-transform: uppercase;
  border-radius: 20px;
  img {
    width: auto;
    height: auto;
    margin-left: 15px;
  }
}

.price__body--mobile {
  display: none;
}

.terms__body .general__container > p {
  padding: 20px;
  width: 40%;
  font-size: 14px;
}
